<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>welcome to the text analyer enter text below</p>
    <form action="/analyze" method='get'>
        <textarea style="margin:0px;width:721px;height:500px;" name="text" id="" cols="30" rows="10"></textarea>
        </br><button type="submit">analyze</button>

        <input type="checkbox" name="remove">checkbox
        <input type="checkbox" name="upper">uppercase
        <input type="checkbox" name="removeline">removeline

    </form>

</body>

</html>